---
import HeroSection from "@/components/home/hero-section.astro";
import ExperienceSection from "@/components/home/experience-section";
import RecentPostsSection from "@/components/home/recent-posts-section";
import TechStackSection from "@/components/home/tech-stack-section";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

// 获取最近的 3 篇博客文章
const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const recentPosts = allPosts.slice(0, 3).map((post) => ({
  id: post.id.replace(/\.mdx?$/, ""),
  title: post.data.title,
  description: post.data.description,
  coverImage: post.data.heroImage?.src,
}));
---

<BaseLayout
  title="Astro shadcn/ui template"
  description="This template helps you build apps with Astro, Tailwind CSS, and shadcn/ui."
>
  <div
    class="mx-auto max-w-5xl min-h-[calc(100vh-128px)] border border-border border-t-0 border-b-0"
  >
    <div class="border-b border-b-border">
      <HeroSection />
    </div>
    <div class="border-b border-b-border">
      <ExperienceSection />
    </div>
    <div class="border-b border-b-border">
      <RecentPostsSection posts={recentPosts} />
    </div>
    <div class="border-b border-b-border">
      <TechStackSection client:load />
    </div>
  </div>
</BaseLayout>
