---
import { SocialLinksTabs } from "./social-links-tabs";

const headline = "Barry Song";
---

<section class="px-10 py-24">
  <div class="flex flex-col space-y-6">
    <!-- Avatar -->
    <div class="size-16 overflow-hidden rounded-sm">
      <img
        src="https://github.com/evilrabbit.png"
        alt="avatar"
        class="size-full object-cover"
      />
    </div>

    <!-- Headline & Description -->
    <div class="space-y-4">
      <h1 class="text-2xl font-bold sm:text-3xl">{headline}</h1>
      <div>
        <p class="max-w-3xl text-muted-foreground">
          一个什么都会做一点的工程师。
        </p>
        <p class="max-w-2xl text-muted-foreground">
          日常健身、写代码和设计、学习语言，希望有一天能够探索宇宙
        </p>
      </div>
    </div>

    <!-- Social Links Tabs (Client Component) -->
    <SocialLinksTabs client:load />
  </div>
</section>
