---
import { ClientRouter } from "astro:transitions";
import HeadSEO from "@/components/HeadSEO.astro";
import Header from "@/components/layout/header";
import Footer from "@/components/layout/footer";
import CubeTransition from "@/components/showcase/cube-transition.astro";

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
    <ClientRouter />
    <CubeTransition />
  </head>
  <body>
    <div class="flex min-h-screen flex-col bg-background text-foreground">
      <Header />
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
