---
import "@/styles/global.css";

interface Props {
  title?: string;
}

const SITE_NAME = "Barrison's Blog";
const { title } = Astro.props;
const fullTitle = title ? `${title} | ${SITE_NAME}` : SITE_NAME;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{fullTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
